Source: glide
Maintainer: Francisco Guimaraes <francisco.cpg@gmail.com>
Priority: extra
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Section: devel
Homepage: https://glide.sh
Vcs-Git: git://github.com:Masterminds/glide.git
Vcs-Browser: https://github.com/Masterminds/glide

Package: glide
Architecture: i386 amd64
Description: Aside from being catchy, "glide" is a contraction of "Go Elide". The idea is
 to compress the tasks that normally take us lots of time into a just a few
 seconds.
