Source: glide
Maintainer: Francisco Guimaraes <francisco.cpg@gmail.com>
Priority: extra
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Section: devel
Homepage: https://glide.sh
Vcs-Git: git://github.com:Masterminds/glide.git
Vcs-Browser: https://github.com/Masterminds/glide

Package: glide
Architecture: i386 amd64 arm64
Description: glide - Package Management for Golang
